
html,
body
{
    margin: 0;
}

section
{
    margin: 50px 80px 10px;
}

table
{
    margin: 20px 0;
    font-size: 14px;
    font-family: sans-serif;
    border-spacing: 0;
    overflow: hidden;
}

tr:nth-child(2n+1)
{
    background-color: #ebebeb;
}

th
{
    font-weight: 700;
    background-color: #6dff6a;
    padding: 10px 10px;
}

td
{
    padding: 10px;
    min-height: 94px;
    text-align: center;
}

tr:hover
{
    background-color: rgba(160, 235, 42, 0.35);
}

td:hover
{
    position: relative;
}
td:hover::after
{
    content: "";
    position: absolute;
    left: 0;
    top: -2000px;
    height: 5000px;
    width: 100%;
    background-color: #a0eb2a;
    pointer-events: none;
    opacity: 0.35;
}

form
{
    font-size: 18px;
    font-family: serif;
    margin: 0 0 0 80px;
}

form:valid button
{
    display: block;
}

input:not(:valid)
{
    border: 2px outset #f00;
}

form:not(:valid) button
{
    display: none;
}

label
{
    float: left;
    margin: 0 10px 0 0;
}
input[type="radio"]
{
    float: left;
}

h1
{
    text-align: center;
    font-size: 30px;
}

.form-field
{
    clear: both;
    text-align: right;
}

.form-wrapper
{
    float: left;
}

table tbody tr
{
    display: none;
}

.in-radio:checked ~ .term-a-radio:checked ~ table tbody .term-a,
.in-radio:checked ~ .term-a-radio:checked ~ table tbody .in,
.in-radio:checked ~ .term-b-radio:checked ~ table tbody .term-b,
.in-radio:checked ~ .term-b-radio:checked ~ table tbody .in,
.out-radio:checked ~ .term-a-radio:checked ~ table tbody .term-a,
.out-radio:checked ~ .term-a-radio:checked ~ table tbody .out,
.out-radio:checked ~ .term-b-radio:checked ~ table tbody .term-b,
.out-radio:checked ~ .term-b-radio:checked ~ table tbody .out,
.in-radio:checked ~ .term-all-radio:checked ~ table tbody .in,
.out-radio:checked ~ .term-all-radio:checked ~ table tbody .out,
.all-dest-radio:checked ~ .term-a-radio:checked ~ table tbody .term-a,
.all-dest-radio:checked ~ .term-b-radio:checked ~ table tbody .term-b,
.all-dest-radio:checked ~ .term-all-radio:checked ~ table tbody tr
{
    display: table-row;
}

.in-radio:checked ~ .term-a-radio:checked ~ table tbody .term-b,
.in-radio:checked ~ .term-a-radio:checked ~ table tbody .out,
.in-radio:checked ~ .term-b-radio:checked ~ table tbody .term-a,
.in-radio:checked ~ .term-b-radio:checked ~ table tbody .out,
.out-radio:checked ~ .term-a-radio:checked ~ table tbody .term-b,
.out-radio:checked ~ .term-a-radio:checked ~ table tbody .in,
.out-radio:checked ~ .term-b-radio:checked ~ table tbody .term-a,
.out-radio:checked ~ .term-b-radio:checked ~ table tbody .in,
.all-dest-radio:checked ~ .term-a-radio:checked ~ table tbody .term-b,
.all-dest-radio:checked ~ .term-b-radio:checked ~ table tbody .term-a,
.in-radio:checked ~ .term-all-radio:checked ~ table tbody .out,
.out-radio:checked ~ .term-all-radio:checked ~ table tbody .in
{
    display: none;
}

.city-search[value="Тель-Авив"] ~ table tbody tr:not([direction="Тель-Авив"]),
.city-search[value="Симферополь"] ~ table tbody tr:not([direction="Симферополь"]),
.city-search[value="Москва/шрм"] ~ table tbody tr:not([direction="Москва/шрм"]),
.city-search[value="Советский"] ~ table tbody tr:not([direction="Советский"]),
.city-search[value="Тюмень"] ~ table tbody tr:not([direction="Тюмень"]),
.city-search[value="Москва/дмд"] ~ table tbody tr:not([direction="Москва/дмд"]),
.city-search[value="Анталья"] ~ table tbody tr:not([direction="Анталья"]),
.city-search[value="Москва/внк"] ~ table tbody tr:not([direction="Москва/внк"]),
.city-search[value="Хельсинки"] ~ table tbody tr:not([direction="Хельсинки"]),
.city-search[value="Москва"] ~ table tbody tr:not([direction*="Москва"]),
.city-search[value="Домодедово"] ~ table tbody tr:not([direction="Москва/дмд"]),
.city-search[value="Внуково"] ~ table tbody tr:not([direction="Москва/внк"]),
.city-search[value="Шереметьево"] ~ table tbody tr:not([direction="Москва/шрм"]),
.city-search[value="Прага"] ~ table tbody tr:not([direction="Прага"]),
.city-search[value="Нячанг"] ~ table tbody tr:not([direction="Нячанг"]),
.city-search[value="Шарм Эль Шейх"] ~ table tbody tr:not([direction="Шарм Эль Шейх"]),
.city-search[value="Уфа"] ~ table tbody tr:not([direction="Уфа"])
{
    display: none !important;
}
